Flask==0.9
Flask-Bcrypt==0.5.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.6
Markdown==2.3.1
SQLAlchemy==0.7.8
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.36
logilab-astng==0.24.2
logilab-common==0.61.0
loremipsum==1.0.2
pip-tools==0.3.1
psycopg2==2.5
py-bcrypt==0.3
pychecker==0.8.19
verlib==0.1
wsgiref==0.1.2
