<!DOCTYPE html>
<html lang="en">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <head>
        <title>{% block page_title %}{% endblock %}</title>
<!--	<H1> SpiderSilk Web Engine</H1> --!>

	<img src={{url_for('static',filename='logo.png')}}> 
	<div class="metanav">
	 {% if session.username %}
	 <I> Logged in: <A HREF="/user/{{ session.username }}">{{session.username}}</A> </I>     | 
	 <A HREF="{{url_for('logout') }}"> Log out </A>   | 
	<A HREF="{{url_for('storynew')}}">Create a New Story</A>    |
	<A HREF="{{url_for('hello')}}">Front Page</A>     
	{% else %}
	 <A HREF="{{url_for('login') }}"> Log in </A>      | 
	 <A HREF="{{url_for('register') }}"> Register </A>        |
	 <A HREF="{{url_for('hello') }}">Front Page</A>    
	{% endif %}

	<FORM method="POST" action="/search">
		<input type="text" name = "searchitem">
		<input type="submit" value = "Search">
	</form>
	</div>	
	 {% for message in get_flashed_messages() %}
		<div class="flash">{{ message }} </div> 
	 {% endfor %}
	
    </head>
    <body>
        <section id="content">
            {% block content %}
            {% endblock %}
        </section>
        <footer id="footer">
		<div class="footer">
		(c) 2012 Spidersilk Development Team 
		<A HREF="http://www.github.com/JarrodHenry/SpiderSilk/wiki">About Spidersilk</A> </div>
        </footer>
    </body>
</html>
