{% extends "_base.html" %}

{% block page_title %}SpiderSilk - Registration Page {% endblock %}

{% block content %}
Please register using the form.
{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}


<form method="POST" action=".">
{{ form.csrf_token() }}
<P>{{ form.username.label }} {{ form.username }}</P>
<P>{{ form.password.label }} {{ form.password }}</P> 
<P>{{ form.confirm.label }} {{ form.confirm }}</P> 
<P>{{ form.species.label }} {{ form.species }} </p>
<P>{{ form.gender.label }} {{ form.gender }} </p>
<P>{{ form.bio.label }} {{ form.bio(rows=20, cols=100) }}</P>
<P>{{ form.email.label }} {{ form.email }} </p>
<p>{{ form.adult.label }} {{ form.adult }} </P>
<p>{{ form.accepttos.label }} {{ form.accepttos }} </p>
<input type = "submit" value = "Register"> 
</form>
* = required fields

{% endblock %}


