{% extends "_base.html" %}

{% block page_title %} SpiderSilk - Search Lookup {% endblock %}

{% block content %}

{% if storylist %}
<H2> Stories: </H2>
<UL>
{% for story in storylist %}

<LI> <A HREF="/story/{{story.id}}"> {{ story.title }} </A></LI>


{% endfor %}
</UL>
{% endif %}

{% if storytagged %}

<H2> Stories tagged with search term: {{term}} </H2>
<UL>
{% for story in storytagged %}

<LI> <A HREF="/story/{{story.id}}"> {{ story.title }} </A></LI>
{% endfor %}
</UL>


{% endif %}
{% endblock %}



