{% extends "_base.html" %}

{% block page_title %}SpiderSilk - {{story.title}} {% endblock %}

{% block content %}

<H2 class="title"> {{story.title}} by ~<A HREF="/~{{story.users.name}}">{{story.users.name}}</a></H2>

{% if story.tags %}
<I>Tags: </I>
{% for storytag in story.tags %}
<I><A HREF="/tag/{{ storytag.id }}">{{storytag.tagname }}</A>   </I>
{% endfor %}
{% endif %}

<P><div class="story">
 {{story.text|safe }}
	</div></P>
{% if user %} 
	{% if story.users.name == user %}
		<form method="POST" action="/story/{{story.id}}">
		<input type="hidden" name="user" value="{{user}}">	
		<P><input type="submit" value="Delete"></P>
	{% endif %}

	{% if story.users.name != user %}
		<form method="POST" action="/story/fave/{{story.id}}">
		<input type="hidden" name="user" value="{{user}}">
		<p><input type="submit" value="Fave"></P>
	{% endif %}
{% endif %}
Faves: {{ story.favedby|count }} 

{% endblock %}


