{% extends "_base.html" %}

{% block page_title %}SpiderSilk - {{story.title}} {% endblock %}

{% block content %}

<H2 class="title"> {{story.title}} by ~<A HREF="/~{{story.users.name}}">{{story.users.name}}</a></H2>

{% if story.tags %}
<I>Tags: </I>
{% for storytag in story.tags %}
<I><A HREF="/tag/{{ storytag.id }}">{{storytag.tagname }}</A>   </I>
{% endfor %}
{% endif %}

<P><div class="story">
 {{story.text|safe }}
	</div></P>
{% if user %} 
	{% if story.users.name == user %}
		<form method="POST" action="/story/{{story.id}}">
		<input type="hidden" name="user" value="{{user}}">	
		<input type="submit" value="Delete"></P>
		</form>

		
	{% endif %}

	{% if story.users.name != user %}
		<form method="POST" action="/story/fave/{{story.id}}">
		<input type="hidden" name="user" value="{{user}}">
		<input type="submit" value="Fave"></P>
		</form>

		<form method="POST" action="/story/rec/{{story.id}}">
		<input type="hidden" name = "user" value = "{{user}}">
		<input type="textarea" size=120 name = "comment" >
		<input type="submit" value = "Recommend"></p></form>
	{% endif %}
{% endif %}
<H2> Faves ({{ story.favedby|count }})<P>
<P>

<H2>Reccomendations ({{story.recs|count}})</H2>
<P>
{% for storyrec in story.recs %}
	<B>{{storyrec.uname}} {{storyrec.date.strftime('%Y-%m-%d %H:%M')}} </B> <I>{{storyrec.comment}} </I><P>
{% endfor %}

{% endblock %}


