{% extends "_base.html" %}

{% block page_title %}SpiderSilk - User Page - {{user.name}} {% endblock %}

{% block content %}

<H2> ~{{user.name}} </H2>

<P><I> Species:{{user.species}}</I></P>
<P><I> Gender :{{user.gender}}</I></P>
<P><I> Bio    :{{user.bio}}</I></P>

{% if session.username %}

{% if session.username != user.name %}
	<form method="POST" action="/user/follow/{{user.name}}">
	<input type="hidden" name="user" value="{{user}}">
	<P><input type="submit" value="Follow"></P>
{% endif %}

{% endif %}
<H2> Stories: </H2>

<ul>
{% for story in user.stories %}
	<li><A HREF=/story/{{story.id}}>{{ story.title }}</A></li>
{% endfor %}
</ul
{% endblock %}


